body{
	background: url('../images/background.jpeg');
}

img{
	width: 125px;
	margin-bottom: 10px;
	display: block;
	margin-left: auto;
  	margin-right: auto;
  	object-fit: cover;
}

h1{
	text-align: center;
	text-transform: lowercase;
}

#mystuff{
	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-rows: repeat(5, auto);
	padding: 35px;
}

div{
	padding: 25px; 
    margin:5px;
	text-align: center;
}


@media all and (min-width: 800px){
	#mystuff{
	display: grid;
	grid-template-columns: repeat(3, auto);
	grid-template-rows: repeat(3, auto);
	padding: 35px;
}
div:nth-child(odd) {
	border: 2px solid #000000;
	border-collapse: separate;
}
}